{% extends 'base.html.twig' %}

{% block title %}Hello NewQuizzController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput-{{questseq.id}}">{{questseq.Intitule}}</label>
      <div class="col-md-4">
        <input id="textinput-{{questseq.id}}" name="textinput-{{questseq.id}}" type="text" placeholder="{{questseq.Intitule}}" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="checkboxes-{{questseq.id}}">Réponses :</label>
      <div class="col-md-4">
        {% for repseq in questseq.ReponsesQuestion %}
          <div class="checkbox">
            <label for="checkboxes-{{questseq.id}}-{{repseq.id}}">
              <input type="checkbox" name="checkboxes-{{questseq.id}}" id="checkboxes-{{questseq.id}}-{{repseq.id}}" value="{{repseq.id}}">
              {{ repseq.Intitule }}
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endfor %}

{% endblock %}
