{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center mb-4">Mon Profil</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-4">
					<div
						class="card-body">
						<!-- Ajoutez les détails du profil ici -->
						<a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary btn-block">Réinitialiser le mot de passe</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body">
						<a href="{{ path('app_create') }}" class="btn btn-primary btn-block">Créer un Quizz</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body">
						<a href="{{ path('app_profile_edit') }}" class="btn btn-primary btn-block">Modifier l'Email</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body">
						<a href="{{ path('user_historique') }}" class="btn btn-primary ">
							<i class="fas fa-arrow-left"></i>
							Historique
						</a>
					</div>
				</div>
			</div>
		</div>
		<a href="{{ path('app_categorie') }}" class="btn btn-secondary mt-5">Retour</a>
	</div>
{% endblock %}
