{# templates/historique/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Historique</h1>
        <p class="lead">Bonjour {{ user.y }}!</p>
        
        {% if history is empty %}
            <p class="alert alert-info">Aucun historique trouvé.</p>
        {% else %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Réponse</th>
                            <th>Catégorie</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in history %}
                            <tr>
                                <td>{{ entry.question }}</td>
                                <td>{{ entry.reponse }}</td>
                                 <td>{{ entry.categorie }}</td>
                                {# <td>{{ entry.date }}</td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

