{# templates/historique/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Historique de {{ user.email }}{% endblock %}

{% block body %}
    <h1>Historique de {{ user.email }}</h1>
    <h2>Historique des actions</h2>
    <ul>
        {% for item in history %}
            <li>
                Catégorie: {{ item.nameCategorie }}<br>
                ID Question: {{ item.idQuestion }}<br>
                ID Réponse: {{ item.idReponse }}
            </li>
        {% else %}
            <li>Aucune action trouvée.</li>
        {% endfor %}
    </ul>
{% endblock %}

