{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Catégorie Time</h1>
    <ul class="grid gap-3 d-grid list-unstyled">
        {% for categorie in categories %}
            <li class="select-cate">
                <a class="select-cate btn btn-primary btn-lg btn-block" href="{{ path('app_quizz', {'id': categorie.id}) }}">{{ categorie.name }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="d-flex justify-content-center mt-4">
        <a href="{{ path('app_profile') }}" class="btn btn-success btn-lg me-3">Profil</a>
        <a href="{{ path('admin_panel') }}" class="btn btn-primary btn-lg me-3">Admin</a>
        <a href="{{ path('app_logout') }}" class="btn btn-danger btn-lg">Logout</a>
    </div>
</div>
{% endblock %}
