{% extends 'base.html.twig' %}

{% block title %}Categorie Pannel{% endblock %}

{% block body %}
 <a href="{{ path('app_admin') }}" class="btn btn-primary btn-lg">Retour</a>

    <h1>Categorie Pannel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    {# <a href="{{ path('app_admincategory_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_admincategory_edit', ) }}">edit</a> #}
                     <a href="{{ path('app_admincategory_show', {'id': categorie.id}) }}" class="btn btn-info btn-xs">show</a>
                  <a href="{{ path('app_admincategory_edit', {'id': categorie.id}) }}" class="btn btn-warning btn-xs">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
     <a href="{{ path('app_admincategory_new') }}" class="btn btn-success btn-lg">Create new</a>
{% endblock %}
